{% extends "base.html" %}

{% block title %} Index page for AIM {% endblock %}

{% block body %}

<h1>Make your stock portfolio shine</h1>
<p>
<p>Welcome to RetireOnAIM, the program that helps increase the value of your investments</p>

<div class="row">

    <div class="span3">
        <h2>Why use this?</h2>
        <p>Stock investing is hard, this makes it easier</p>
    </div>

    <div class="span3">
        <h2>How does it work?</h2>
        <p>You pick the stock, we'll tell you when to buy and sell more.</p>
    </div>

    <div class="span3">
        <h2>How much does it cost?</h2>
        <p><strong>Free!</strong></p>
    </div>


<a href="{% url 'auth_login' %}?next=/aim" type="btn btn-primary" class="btn" >Login</a> 
<a href="{% url 'registration_register' %}" type="btn btn-primary" class="btn">Register</a>
<a href="{% url 'aim_main' %}" type="btn btn-primary" class="btn">Portfolio</a>

</div> 
    

{% endblock %}

