{% extends "bootstrap.html" %}
{% block body %}
	<!-- MainView.html -->
	<h1>Portfolio List</h1>    
	{% if user.is_authenticated %}
	    <p>    <a href="{% url "portfolio_add" %}"> Add a Portfolio </a>
	{% endif %}
	
    {% for p in object_list %}
	<div class="panel panel-default">
  		<div class="panel-heading">
  			<h3 class="panel-title"><a href="{% url "portfolio_edit" p.id %}"> {{p}} </a></h3>
  		</div>
		<div class="panel-body">
			{% if p.holding_set.all %}
	        <table class="table">
		        <tr>
		            <th>Holding</th>
		            <th>Shares</th>
		            <th>Value</th>
		            <th>Alert</th>
		            <th>Next Buy</th>
		            <th>Current Price</th>
		            <th>Next Sell</th>
		            <th>Transaction</th>
		        </tr>
	    
			    {% for h in p.holding_set.all %}
			    <tr>
			        <td><a href="{% url "holding_view" h.id %}" >{{ h.symbol }}</a></td>
			        <td>{{ h.shares }}</td>
			        <td>{{ h.value }}</td>
			        <td>{{ h.alert }}</td>
			        <td> {{ h.currentalert.buyprice }} </td>
			        <td> {{ h.symbol.currentprice.close }}</td>
			        <td> {{ h.currentalert.sellprice }}</td>
			        <td> <a href="{% url "transaction" h.id %}" type="button" class="btn btn-success" >Buy </a> 
			        	 <a href="{% url "transaction" h.id %}" type="button" class="btn btn-danger" >Sell </a>
			        </td>
			    </tr>
				{% endfor %}
	    	</table>
		    {% endif %}
		</div> <!-- panel-body -->
		<div class="panel-footer"><a href="{% url "holding_add" p.id %} ">Add Holding </a></div>

    </div>	<!-- panel -->
    
    
        
    {% endfor %}
   
{% endblock %}